name: Release Please (Manual Trigger)

on:
  workflow_dispatch:

jobs:
  release:
    name: Run Release Please
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Run Release Please
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: python
          token: ${{ secrets.GITHUB_TOKEN }}
